  <!-- breadcrumb start -->
  <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Event</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Event</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- event area start -->
<div class="event-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="media single-event-inner">
                    <div class="media-left date">
                        <span>JAN</span>
                        12
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> 12:00 AM To 11:59 PM</li>
                            <li><i class="fa fa-map-marker"></i> Melbourne, Australia</li>
                        </ul>
                        <h5><a href="event-details.html">The quick, brown fox jumps over a lazy by when MTV ax</a>
                        </h5>
                        <p>Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump;
                            dozy fowl quack. Quick wafting zephyrs vex</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media single-event-inner">
                    <div class="media-left date">
                        <span>JAN</span>
                        23
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> 12:00 AM To 11:59 PM</li>
                            <li><i class="fa fa-map-marker"></i> Melbourne, Australia</li>
                        </ul>
                        <h5><a href="event-details.html">jumps over a lazy by The quick, brown fox when MTV ax</a>
                        </h5>
                        <p>Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump;
                            dozy fowl quack. Quick wafting zephyrs vex</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media single-event-inner">
                    <div class="media-left date">
                        <span>JAN</span>
                        26
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> 12:00 AM To 11:59 PM</li>
                            <li><i class="fa fa-map-marker"></i> Melbourne, Australia</li>
                        </ul>
                        <h5><a href="event-details.html">when MTV ax The quick, brown fox jumps over a lazy by</a>
                        </h5>
                        <p>Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump;
                            dozy fowl quack. Quick wafting zephyrs vex</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media single-event-inner">
                    <div class="media-left date">
                        <span>JAN</span>
                        30
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> 12:00 AM To 11:59 PM</li>
                            <li><i class="fa fa-map-marker"></i> Melbourne, Australia</li>
                        </ul>
                        <h5><a href="event-details.html">Fox nymphs grab fox jumps over a lazy by when MTV ax</a>
                        </h5>
                        <p>The quick, brown quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens
                            jump; dozy fowl quack. Quick wafting zephyrs vex</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media single-event-inner">
                    <div class="media-left date">
                        <span>FEB</span>
                        22
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> 12:00 AM To 11:59 PM</li>
                            <li><i class="fa fa-map-marker"></i> Melbourne, Australia</li>
                        </ul>
                        <h5><a href="event-details.html">Melbourne brown fox jumps over a lazy by when MTV ax</a>
                        </h5>
                        <p>Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump;
                            dozy fowl quack. Quick wafting zephyrs vex</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media single-event-inner">
                    <div class="media-left date">
                        <span>FEB</span>
                        25
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> 12:00 AM To 11:59 PM</li>
                            <li><i class="fa fa-map-marker"></i> Melbourne, Australia</li>
                        </ul>
                        <h5><a href="event-details.html">The quick, brown fox jumps over a lazy by when MTV ax</a>
                        </h5>
                        <p>Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump;
                            dozy fowl quack. Quick wafting zephyrs vex</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <nav class="td-page-navigation text-center">
                    <ul class="pagination">
                        <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">3</a></li>
                        <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- event area end -->
