  <!-- breadcrumb start -->
  <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/evnt.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Event</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Event</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- event area start -->
<div class="event-area pd-top-120 pd-bottom-120">
    <tr  >
    <div class="container">
        <div class="row">
          <div *ngFor = "let event of events">
            <div *ngIf="event.status===1" >
            <div  >

                <div class="media single-event-inner" >
                    <div class="media-left date">

                        <span>{{event.eventDate| date:'MMM'}}</span>
                        <br>
                        {{event.eventDate| date:'d'}}
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> {{event.eventDate| date: 'hh:mm:ss a'}} To {{event.endDate| date: 'hh:mm:ss a'}}</li>
                            <li><i class="fa fa-map-marker"></i> {{event.location}}</li>
                        </ul>
                        <h5><a routerLink="/eventdetail" (click) = "eventDetails(event.idEvent!)" >{{event.title}}</a>
                        </h5>
                        <p>{{event.detail}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </tr>
    </div>


<!-- event area end -->
