   <!-- breadcrumb start -->


   <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/m.jpg')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">MYPOTS</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>MyPots</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- blog area start -->
 <div class="blog-area pd-top-120 pd-bottom-120">
    <div class="container">
      <button  (click)="myModal.show() " class="create-pot-btn">Create Pot</button>
        <div class="row">
            <div class="col-lg-8"  *ngFor="let item of  getVisiblePosts()">
                <div class="single-blog-inner style-border">
                    <div class="thumb">
                      <img [src]="getImageSrc(item.image)" alt="image">
                    </div>
                    <div class="details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i> {{item.user.name}} {{item.user.lastname}}</li>
                            <li><i class="fa fa-calendar-check-o"></i> {{item.createDate | date:'dd-MM-yyyy' }}</li>
                        </ul>
                        <h3 class="title">{{item.title}}
                        </h3>
                        <p>{{item.detail}}</p>

                    </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <nav class="td-page-navigation">
                    <ul class="pagination">
                        <li class="pagination-arrow" *ngIf="currentPage > 1"><a (click)="previousPage()"><i class="fa fa-angle-double-left"></i></a></li>

                        <li *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
                            <a (click)="goToPage(page)">{{ page }}</a>
                        </li>

                        <li class="pagination-arrow" *ngIf="currentPage < totalPages"><a (click)="nextPage()"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
          </div>
        </div>
      </div>

<!-- blog area end -->
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalaccLabel"
aria-hidden="true">
<div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title c4" id="modal-title">Add a pot</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="myModal.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form role="form "  [formGroup]="addform" (ngSubmit)="addpot()">
            <label >Title</label>
            <label style="color:red"></label>
            <input class="form-control" placeholder="" type="text" formControlName="title">
            <label >Detail</label>
            <label style="color:red"></label>
            <input class="form-control" placeholder="" type="text" formControlName="detail">
            <label >Goal Amount</label>
            <label style="color:red"></label>
            <input class="form-control" placeholder="" type="number" formControlName="goalAmount" min="0">
            <label >Expire Date</label>
            <label style="color:red"></label>
            <input class="form-control" placeholder="" type="Date" formControlName="expireDate">
            <label for="image">Upload File</label>
            <input type="file" class="form-control-file" id="image" name="image" (change)="onFileSelected($event)">


            <button   type="submit" [disabled]="addform.invalid" class="btn btn-primary mt-4"> <i class="ni ni-badge iconmargin"> </i>  Add </button>
          </form>
        </div>
        <div class="modal-footer">
            <!--modal.close('Ok click')-->
            <button type="button" class="btn btn-light" (click)="myModal.hide()">Cancel</button>
        </div>
    </div>

</div>
<!-- /.modal-dialog -->

