<div class="navbar-area">
  <nav class="navbar navbar-area-3 navbar-area navbar-expand-lg">
      <div class="container nav-container">
          <div class="responsive-mobile-menu">
              <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon-left"></span>
                  <span class="icon-right"></span>
              </button>
          </div>
          <div class="logo">
              <a href="index.html"><img src="assets/img/logo-2.png" alt="img"></a>
          </div>
          <div class="nav-right-part nav-right-part-mobile">
              <a class="btn btn-base" href="signup.html">Sign Up</a>
          </div>
          <div class="collapse navbar-collapse" id="edumint_main_menu">
              <ul class="navbar-nav menu-open">
                  <li class="menu-item-has-children current-menu-item">
                      <a routerLink="home" routerLinkActive="active">Home</a>
                  </li>
                  <li class="menu-item-has-children">
                      <a href="#">Products</a>
                      <ul class="sub-menu">
                          <li><a routerLink="product" routerLinkActive="active">Products</a></li>
                          <li><a routerLink="productdetail" routerLinkActive="active">Single Product</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children">
                      <a href="#">Pages</a>
                      <ul class="sub-menu">
                          <li><a routerLink="about" routerLinkActive="active">About Us</a></li>
                          <li><a routerLink="event" routerLinkActive="active">Event</a></li>
                          <li><a routerLink="eventdetail" routerLinkActive="active">Event Details</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children">
                      <a href="#">Pots</a>
                      <ul class="sub-menu">
                          <li><a routerLink="pot" routerLinkActive="active">Pots</a></li>
                          <li><a a routerLink="potgrid" routerLinkActive="active">Pots Grid</a></li>
                          <li><a routerLink="potdetail" routerLinkActive="active">¨Pots Details</a></li>
                      </ul>
                  </li>
                  <li><a routerLink="contact" routerLinkActive="active">Contact Us</a></li>
              </ul>
          </div>
          <div class="nav-right-part nav-right-part-desktop style-black">
              <div class="emt-phone-wrap">
                  <div class="emt-phone">
                      <i class="fa fa-phone"></i>
                      <div class="phone-number align-self-center">
                          Call Us <br>
                          <span>860 -272 -9738</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </nav>
</div>
