<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Event Single</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Event Single</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- course-single area start -->
<div class="course-single-area pd-top-120 pd-bottom-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-12">
                <div class="event-detaila-inner">
                    <div class="thumb mb-4">
                        <img [src]="getImageSrc(event!.image)" alt="img">
                    </div>
                    <ul class="event-meta">
                        <li><i class="fa fa-clock-o"></i> {{event!.eventDate| date: 'hh:mm:ss a'}} To {{event!.endDate| date: 'hh:mm:ss a'}}</li>
                        <li><i class="fa fa-map-marker"></i> {{event!.location}}</li>
                    </ul>
                    <p>{{event!.detail}}</p>
                   
                        <!-- ... widget content ... -->
                        <div class="widget-btn">
                            <a *ngIf="checkk" (click) = "participer(event!.idEvent)" class="btn btn-primary">Participate</a>
                            <a *ngIf="!checkk" (click) = "annuler(event!.idEvent)" class="btn btn-primary">Remove Participation</a>
                        </div>

                    
                </div>
            </div>
            <div class="col-lg-4 order-lg-1">
                <div class="td-sidebar">
                    <div class="widget widget_event">
                        <h4 class="widget-title text-white">Event Info :</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Start Date: {{event!.eventDate| date:'d MMM'}}</li>
                            <li><i class="fa fa-clock-o"></i>Start Time: {{event!.eventDate| date: 'hh:mm:ss a'}}</li>
                            <li><i class="fa fa-calendar"></i>End Date: {{event!.endDate| date:'d MMM'}}</li>
                            <li><i class="fa fa-clock-o"></i>End Time: {{event!.endDate| date: 'hh:mm:ss a'}}</li>
                            <li><i class="fa fa-ticket"></i>Number of Participants: {{event!.nombreParticipants}}</li>
                            <li><i class="fa fa-map-marker"></i>Location: {{event!.location}}</li>
                           
                        </ul>
                    </div>
                    <div class="widget widget_catagory">
                        <h4 class="widget-title">Location</h4>
                        <div class="widget-g-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d29208.601361499546!2d90.3598076!3d23.7803374!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1589109092857!5m2!1sen!2sbd"></iframe>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- course-single area end -->