
    <!-- breadcrumb start -->
    <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
      <div class="container">
          <div class="breadcrumb-inner">
              <div class="section-title mb-0 text-center">
                  <h2 class="page-title">Blog</h2>
                  <ul class="page-list">
                      <li><a href="index.html">Home</a></li>
                      <li>Blog</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- breadcrumb end -->

  <!-- blog area start -->
  <div class="blog-area pd-top-120 pd-bottom-120">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="single-blog-inner style-border">
                      <div class="thumb">
                          <img src="assets/img/blog/4.png" alt="img">
                      </div>
                      <div class="details">
                          <ul class="blog-meta">
                              <li><i class="fa fa-user"></i> BY ADMIN</li>
                              <li><i class="fa fa-calendar-check-o"></i> 28 JANUARY, 2020</li>
                          </ul>
                          <h5 class="title"><a href="blog-details.html">Flock by when MTV ax quiz prog quiz graced</a>
                          </h5>
                          <p>Lorem ipsum dolor sit amet sed diam nonumy eirmod tempor invidunt ut labore et dolore
                              magna</p>
                          <a class="read-more-text" href="blog-details.html">READ MORE <i
                                  class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-blog-inner style-border">
                      <div class="thumb">
                          <img src="assets/img/blog/5.png" alt="img">
                      </div>
                      <div class="details">
                          <ul class="blog-meta">
                              <li><i class="fa fa-user"></i> BY ADMIN</li>
                              <li><i class="fa fa-calendar-check-o"></i> 28 JANUARY, 2020</li>
                          </ul>
                          <h5 class="title"><a href="blog-details.html">Quisque suscipit ipsum est, eu venen leo</a>
                          </h5>
                          <p>Lorem ipsum dolor sit amet sed diam nonumy eirmod tempor invidunt ut labore et dolore
                              magna</p>
                          <a class="read-more-text" href="blog-details.html">READ MORE <i
                                  class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-blog-inner style-border">
                      <div class="thumb">
                          <img src="assets/img/blog/6.png" alt="img">
                      </div>
                      <div class="details">
                          <ul class="blog-meta">
                              <li><i class="fa fa-user"></i> BY ADMIN</li>
                              <li><i class="fa fa-calendar-check-o"></i> 28 JANUARY, 2020</li>
                          </ul>
                          <h5 class="title"><a href="blog-details.html">When MTV ax quiz prog Flock by graced</a></h5>
                          <p>Lorem ipsum dolor sit amet sed diam nonumy eirmod tempor invidunt ut labore et dolore
                              magna</p>
                          <a class="read-more-text" href="blog-details.html">READ MORE <i
                                  class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-blog-inner style-border">
                      <div class="thumb">
                          <img src="assets/img/blog/5.png" alt="img">
                      </div>
                      <div class="details">
                          <ul class="blog-meta">
                              <li><i class="fa fa-user"></i> BY ADMIN</li>
                              <li><i class="fa fa-calendar-check-o"></i> 28 JANUARY, 2020</li>
                          </ul>
                          <h5 class="title"><a href="blog-details.html">Flock by when MTV ax quiz prog quiz graced</a>
                          </h5>
                          <p>Lorem ipsum dolor sit amet sed diam nonumy eirmod tempor invidunt ut labore et dolore
                              magna</p>
                          <a class="read-more-text" href="blog-details.html">READ MORE <i
                                  class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-blog-inner style-border">
                      <div class="thumb">
                          <img src="assets/img/blog/6.png" alt="img">
                      </div>
                      <div class="details">
                          <ul class="blog-meta">
                              <li><i class="fa fa-user"></i> BY ADMIN</li>
                              <li><i class="fa fa-calendar-check-o"></i> 28 JANUARY, 2020</li>
                          </ul>
                          <h5 class="title"><a href="blog-details.html">Quisque suscipit ipsum est, eu venen leo</a>
                          </h5>
                          <p>Lorem ipsum dolor sit amet sed diam nonumy eirmod tempor invidunt ut labore et dolore
                              magna</p>
                          <a class="read-more-text" href="blog-details.html">READ MORE <i
                                  class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-blog-inner style-border">
                      <div class="thumb">
                          <img src="assets/img/blog/7.png" alt="img">
                      </div>
                      <div class="details">
                          <ul class="blog-meta">
                              <li><i class="fa fa-user"></i> BY ADMIN</li>
                              <li><i class="fa fa-calendar-check-o"></i> 28 JANUARY, 2020</li>
                          </ul>
                          <h5 class="title"><a href="blog-details.html">When MTV ax quiz prog Flock by graced</a></h5>
                          <p>Lorem ipsum dolor sit amet sed diam nonumy eirmod tempor invidunt ut labore et dolore
                              magna</p>
                          <a class="read-more-text" href="blog-details.html">READ MORE <i
                                  class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-12 text-center">
                  <nav class="td-page-navigation">
                      <ul class="pagination">
                          <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                          <li><a href="#">1</a></li>
                          <li><a class="active" href="#">2</a></li>
                          <li><a href="#">...</a></li>
                          <li><a href="#">3</a></li>
                          <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
  <!-- blog area end -->
