   <!-- breadcrumb start -->
   <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/contact.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Claim</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Claims</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- claim-page-Start -->
<div class="signin-page-area pd-top-120 pd-bottom-120">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7">
              <form class="signin-inner" [formGroup]="addformc" (ngSubmit)="addclaim()" >
                  <div class="row">
                    <div class="col-12">
                      <div class="single-input-inner style-bg-border" >
                        <span class="sp" *ngIf="show">Your claim has been sent, an email will be sent after processing your request.</span>
                          <input type="text" placeholder="Reference" formControlName="reference">
                      </div>
                  </div>

                  <div class="col-12">
                    <div class="single-input-inner style-bg-border">
                      <textarea placeholder="Claim" formControlName="claim" style="height: 300px;"></textarea>
                    </div>
                  </div>

                      <div class="col-12 mb-4">
                          <button  type="submit" class="btn btn-base w-100" [disabled]="addformc.invalid">Submit</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- claim-page-end -->
